[submodule "submodules/arduino"]
	path = submodules/arduino
	url = https://github.com/pschatzmann/pico-arduino
[submodule "submodules/pico-servo"]
	path = submodules/pico-servo
	url = https://github.com/irishpatrick/pico-servo
